<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
  -->
  <li>
    <a href="https://www.mendeley.com/profiles/stephane-labrosse/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Mendeley
    </a>
  </li>
  <li>
    <a href="https://loop.frontiersin.org/people/91858/overview" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Frontiers
    </a>
  </li>
  <li>
    <a href="https://loop.frontiersin.org/people/91858/overview" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Loop
    </a>
  </li>
  <li>
  <div itemscope itemtype="https://schema.org/Person"><a
    itemprop="sameAs" content="https://orcid.org/0000-0002-7620-4363"
    href="https://orcid.org/0000-0002-7620-4363" target="orcid.widget"
    rel="noopener noreferrer" style="vertical-align:top;"><img
    src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
    style="width:1em;margin-right:.5em;" alt="ORCID iD
    icon">orcid.org/0000-0002-7620-4363</a></div>
    </li>
    <!-- <li> -->
    <!-- <span id='badgeCont880867' style='width:50px'> -->
    <!-- <script -->
    <!-- src='http://labs.researcherid.com/mashlets?el=badgeCont880867&mashlet=badge&showTitle=false&className=a&rid=C-8665-2012'> -->
    <!-- </script> -->
    <!-- </span> -->
    <!-- </li> -->
